<div class="page-header">
  <h1><%= event.Name %> (<%= event.Date %>)</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= eventsPath() %>" class="btn btn-info">Back to all Events</a></li>
  <li><a href="<%= editEventPath({ event_id: event.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= eventPath({ event_id: event.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<h3>People</h3>

<ul>
    <%= for (person) in people { %>
      <li><a href="#person-<%= person.ID %>"><%= person.Name %></a></li>
    <% } %>
</ul>

<%= for (person) in people { %>
<div class="panel panel-default">
  <div class="panel-heading">
    <a id="person-<%= person.ID %>" name="person-<%= person.ID %>"></a>
    <h1><%= person.Name %></h1>
  </div>
<div class="panel-body">
<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Url</th>
    <th class="text-right">Price</th>
    <th class="text-right">
      <a href="<%= newGiftsPath() %>?event_id=<%= event.ID %>&person_id=<%= person.ID %>" class="btn btn-primary">
        Add Gift
      </a>
    </th>
  </thead>
  <tbody>
    <%= if (len(person.Gifts) == 0) { %>
      <tr>
          <td class="text-center" colspan="4">
            <em>No gifts</em>
          </td>
      </tr>
    <% } %>
    <%= for (gift) in person.Gifts { %>
      <tr>
      <td>
        <a id="gift-<%= gift.ID %>" name="gift-<%= gift.ID %>"></a>
        <%= gift.Name %>
      </td>
        <td><%= gift.Url %></td>
        <td class="text-right"><%= gift.Price %></td>
        <td>
          <div class="pull-right">
            <a href="<%= giftPath({ gift_id: gift.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editGiftPath({ gift_id: gift.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= giftPath({ gift_id: gift.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <th id="total">Total :</th>
      <td class="text-right"><%= person.TotalSpent() %></td>
      <td>&nbsp;</td>      
    </tr>
    <%= if (person.HasBudget()) { %>
      <tr>
        <td>&nbsp;</td>
        <th id="total">Budget :</th>
        <td class="text-right"> <%= person.Budget.Maximum %></td>
        <td>
          <div class="pull-right">
            <a href="<%= editBudgetPath({ budget_id: person.Budget.ID })%>" class="btn btn-warning">Edit Budget</a>
            <a href="<%= budgetPath({ budget_id: person.Budget.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Remove Budget</a>  
          </div>
        </td>      
      </tr>
      <tr>
        <td>&nbsp;</td>
        <th id="total">Remaining :</th>
        <td class="text-right"> <%= person.Remaining() %></td>
        <td>&nbsp;</td>      
      </tr>
    <% } else { %>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-right">
              <div class="pull-right">
                  <a href="<%= newBudgetsPath() %>?event_id=<%= event.ID %>&person_id=<%= person.ID %>" class="btn btn-primary">Set Budget</a>
              </div>
          </td>
          <td>
            &nbsp;
          </td>      
        </tr>
    <% } %>
  </tfoot>
</table>

</div>
</div>
<% } %>